@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url("/root.css");

.blogheading {
  margin: 1.3rem 1.5rem;
  border-bottom: 2px solid #00000070;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.blogheading h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: .2rem;
  outline: none;
}

.blogs {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.card {
  padding: 1.75rem 1.25rem;
  background: #7A5B5220;
  outline: none;
  margin-bottom: .25rem;
  border: 1px solid #00000033;
}

.card h3 {
  font-size: 2rem;
  outline: none;
  line-height: 1.75rem;
}

.card p {
  outline: none;
  padding: 1rem 0 0 0 ;
  line-height: 1.4rem;
}

@keyframes utd {
  from {
    opacity: 0%;
    transform: translateY(-30px);
  }
  
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes scrollani {
  from {
    opacity: 0;
    transform: translateY(100px) scale(.95);
  }
  
  to {
    opacity: 100%;
    transform: translateY(0) scale(1);
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  nav {
    justify-content: space-around;
  }
  
  nav ul {
    display: flex;
  }
  
  nav div {
    display: none;
  }
  
  .blogs {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 60dvw;
  }
}

