@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --shade1: blanchedalmond;
  --shade2: navajowhite;
  --shade3: burlywood;
  --shade4: salmon;
  --shade5: lightsalmon;
  --textcolor: #514B5A;
  --headerbg: url(img/bglight.webp);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
  scroll-margin-top: 5.5rem;
  color: var(--textcolor);
  transition: .175s ease-out;
}

html {
  font-size: 18px;
  user-select: none;
}

body {
  background: var(--shade1);
}

.loader {
  width:100dvw;
  height:100dvh;
  background: #00000064;
  display:flex;
  justify-content: center;
  align-items: center;
}


.spinner {
  height: 3rem;
  width:3rem;
  border-radius: 200px;
  border: .25rem white solid;
  border-left: solid #ffffff00 .25rem;
  animation: loader infinite 1s linear;
}


div,
h1,
h2,
h3,
p {
  outline: .5px solid #00000025;
}

nav {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  backdrop-filter: blur(70px);
  border-bottom: 1px solid #00000021;
}

nav h2 {
  font-weight: 700;
}

nav ul {
  display: none;
  column-gap: .8rem;
  flex-direction: row;
  list-style: none;
}


.dropdown ul li a,
nav ul li a,
.btns button a {
  text-decoration: none;
  color: black;
}

nav div {
  border: 2px #00000066 solid;
  padding: .25rem .6rem;
  border-radius: .4rem;
}

nav div i {
  font-size: 1.5rem;
}

.dropdown {
  z-index: 1500;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  align-items: center;
  background: #FFFFFF66;
  backdrop-filter: blur(20px);
  position: fixed;
  inset: auto 0;
  top: 0;
  animation: utd .15s forwards ease-out;
}

.dropdown ul {
  display: flex;
  column-gap: .8rem;
  flex-direction: row;
  list-style: none;
}

.dropdown ul li {
  font-size: rem;
}

.dropdown div {
  border: 2px #00000066 solid;
  padding: .1rem .5rem;
  border-radius: .4rem;
  background: #00000020;
}

.dropdown div i {
  font-size: 1.75rem;
}

.blogheading {
  margin: 1.3rem 1.5rem;
  border-bottom: 2px solid #00000070;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.blogheading h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: .2rem;
  outline: none;
}

.blogs {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.card {
  padding: 1.75rem 1.25rem;
  background: #7A5B5220;
  outline: none;
  margin-bottom: .25rem;
  border: 1px solid #00000033;
}

.card h3 {
  font-size: 2rem;
  outline: none;
  line-height: 1.75rem;
}

.card p {
  outline: none;
  padding: 1rem 0 0 0 ;
  line-height: 1.4rem;
}

.copyright {
  display: flex;
  background: var(--shade5);
  justify-content: center;
  align-items: center;
  padding: .2rem 0;
  border-top: 1px #00000066 solid;
  font-size: 16px;
}

@keyframes utd {
  from {
    opacity: 0%;
    transform: translateY(-30px);
  }
  
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes scrollani {
  from {
    opacity: 0;
    transform: translateY(100px) scale(.95);
  }
  
  to {
    opacity: 100%;
    transform: translateY(0) scale(1);
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  nav {
    justify-content: space-around;
  }
  
  nav ul {
    display: flex;
  }
  
  nav div {
    display: none;
  }
}

